<% // Prerender // 
// User //

if (typeof user == "undefined") {
    var isLoggedIn = false;
    var darkmode = false;
} else {
    var isLoggedIn = true;
    var username = user.username;
    var first_name = user.first_name;
    var last_name = user.last_name;
    var password = user.password;
    var email = user.email;
    var phone_number = user.phone_number;
    var account_created = user.account_created;
    var darkmode = user.settings.darkmode;
};

// Meta | Head //
const filename = "index.ejs";
const title = "Home";
const last_edited = "03.11.23 - 09:30";
const description = "Das ist die Homepage der Timon.dev Seite.";
const icon = "/root/images/icons/icon.jpg";
const icon_type = "jpg";
const og_description = "Das ist die Homepage der Timon.dev Seite.";
const og_url = "";

%><!DOCTYPE html>
<html lang="de-en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0BP9PGK6H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-E0BP9PGK6H');
        </script>
        <meta charset="utf-8">
        <title><%= title %> | Timon.dev</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="viewport" width="device-width" initial-scale="1.0">
        <meta name="Owner" content="Timon Fiedler">
        <meta name="Developper" content="Timon Fiedler">
        <meta name="Alias" content="timon.dev">
        <meta name="Last modified" content="<%= last_edited %>">
        <meta name="description" content="<%= description %>">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="robots" content="index,follow">
        <meta name="settings" content="<%= darkmode %>" id="settings_darkmode">
        <meta property="og:title" content="<%= title %> | Timon.dev">
        <meta property="og:url" content="https://www.timondev.vip/<%= og_url %>">
        <meta property="og:description" content="<%= og_description %>">
        <meta property="og:image" content="<%= icon %>">
        <meta property="og:image:type" content="image/<%= icon_type %>">      
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="image/x-icon" rel="icon" href="<%= icon %>">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/root.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/style.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/font.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/empty.css" id="stylesheet">
        <script type="text/javascript" src="/root/javascript files/global.functions.js"></script>
        <script type="text/javascript" src="/root/javascript files/global.variables.js"></script>
        <script type="text/javascript">constants.username = "<% if (isLoggedIn) { %><%= username %><% } else { %>undefined<% }; %>"</script>
        <script type="text/javascript" src="/root/javascript files/style.files.js"></script>
        <script type="text/javascript" src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
        <script type="text/javascript" src="/root/javascript files/pictures.preloader.js" defer></script>
        <script type="text/javascript" src="/root/javascript files/style.theme.js" defer></script>
        <script type="text/javascript" src="/root/javascript files/nav.js" defer></script>
        <script type="text/javascript" src="/root/javascript files/typed.home.js" defer></script>
        <script type="text/javascript" src="/root/javascript files/email.js" defer></script><% 
        if (isLoggedIn) { %>
        <script type="text/javascript" src="/root/javascript files/db.profile_picture.js" defer></script>
        <script type="text/javascript" src="/root/javascript files/header.js" defer></script>
        <script type="text/javascript" id="autocomplete_contact_form" defer>
            addEventListener("DOMContentLoaded", () => {
                document.getElementById("contact_user").value = "<%= first_name %> <%= last_name %>";
                document.getElementById("contact_email").value = "<%= email %>";
                document.getElementById("autocomplete_contact_form").remove();
            });
        </script>
        <% }; %><% 
        if (darkmode) { %><script type="text/javascript" id="darkmode_script" defer>
            addEventListener("DOMContentLoaded", () => {
                setDarkMode();
                document.getElementById("bb8_toggler").checked = true;
                document.getElementById("darkmode_script").remove();
            });
        </script> <% } %>
    </head>
    <body>
        <header>
            <div class="h_left">
                <div class="h_logo">
                    <img class="h_logo_img"
                         src="/root/images/common/logo.jpg"
                         draggable="false" 
                         ondragstart="return false;">
                    <h1 class="h_logo_text">timon.dev</h1>
                </div>
            </div>
            <div class="h_right">
                <div class="h_github">
                    <button class="h_github_btn" onclick="location.replace('https://github.com/Timon-D3v')">
                        <svg fill="#ffffff" 
                             xmlns="http://www.w3.org/2000/svg" 
                             viewBox="0 0 24 24" 
                             draggable="false" 
                             ondragstart="return false;">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <title>github</title>
                                <rect fill="none" height="24" width="24"></rect>
                                <path d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,
                                6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,
                                0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,
                                1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,
                                2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,
                                2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"></path>
                            </g>
                        </svg>
                        Github
                    </button>
                </div>
                <% if (isLoggedIn) { %>
                <div class="profile">
                    <img class="profile_picture"
                         id="profile_picture">
                    <div class="username"><p><%= username %></p></div>
                    <div class="profile_menu" id="profile_menu">
                        <a><p><%= first_name + " " + last_name %></p></a>
                        <a href="/profile">Show profile</a>
                        <a href="/" onclick="logout(event)">Log out</a>
                    </div>
                </div>
                <% } else { %>
                <div class="login">
                    <button class="h_login_btn" onclick="location.replace('/login')">LOGIN</button>
                </div>
                <% }; %>
                <div class="h_menu" id="open_h_menu">
                    <div class="h_stroke"></div>
                </div>
            </div>
        </header>
        <nav>
            <div class="nav">
                <div class="n_header">
                    <div class="n_h_title">
                        <h1 class="n_h_t_text">Navigation</h1>
                    </div>
                    <div class="n_h_close" id="close_h_menu">
                        <div class="n_h_stroke"></div>
                    </div>
                </div>
                <div class="n_main">
                    <a href="/" class="n_m_goTo"
                       onclick="scrollToXY(0, 0, event);
                                document.getElementById('open_h_menu').click()"
                    >Scroll to top</a>
                    <a href="/" class="n_m_goTo"
                       onclick="scrollToQuery('.about_img', event);
                                document.getElementById('open_h_menu').click()"
                    >Go to About</a>
                    <a href="/" class="n_m_goTo"
                       onclick="scrollToQuery('#contact_form', event);
                                document.getElementById('open_h_menu').click()"
                    >Contact Me</a>
                    <% if (isLoggedIn) { %>
                    <a href="/profile" class="n_m_profile">Show Profile</a>
                    <a href="/" class="n_m_profile" onclick="logout(event);">Log Out</a>
                    <% } else { %>
                    <a href="/login" class="n_m_profile">Login</a>
                    <a href="/sign%20up" class="n_m_profile">Sign up</a>
                    <% }; %>
                    <div class="mobile___title">
                        <h1 class="n_m_t_text">Navigation</h1>
                    </div>
                    <% if (isLoggedIn) { %>
                    <div class="mobile___profile">
                        <img class="profile_picture"
                             id="profile_picture_mobile">
                        <div class="username"><p><%= username %></p></div>
                    </div>
                    <% } else { %>
                    <div class="mobile___login">
                        <button class="h_login_btn" onclick="location.replace('/login')">LOGIN</button>
                    </div>
                    <% }; %>
                    <div class="mobile___github">
                        <button class="h_github_btn" onclick="location.replace('https://github.com/Timon-D3v')">
                            <svg fill="#ffffff" 
                                 xmlns="http://www.w3.org/2000/svg" 
                                 viewBox="0 0 24 24" 
                                 draggable="false" 
                                 ondragstart="return false;">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <title>github</title>
                                    <rect fill="none" height="24" width="24"></rect>
                                    <path d="M12,2A10,10,0,0,0,8.84,21.5c.5.08.66-.23.66-.5V19.31C6.73,19.91,6.14,18,
                                    6.14,18A2.69,2.69,0,0,0,5,16.5c-.91-.62.07-.6.07-.6a2.1,2.1,0,0,1,1.53,1,2.15,2.15,
                                    0,0,0,2.91.83,2.16,2.16,0,0,1,.63-1.34C8,16.17,5.62,15.31,5.62,11.5a3.87,3.87,0,0,
                                    1,1-2.71,3.58,3.58,0,0,1,.1-2.64s.84-.27,2.75,1a9.63,9.63,0,0,1,5,0c1.91-1.29,2.75-1,
                                    2.75-1a3.58,3.58,0,0,1,.1,2.64,3.87,3.87,0,0,1,1,2.71c0,3.82-2.34,4.66-4.57,4.91a2.39,
                                    2.39,0,0,1,.69,1.85V21c0,.27.16.59.67.5A10,10,0,0,0,12,2Z"></path>
                                </g>
                            </svg>
                            Github
                        </button>
                    </div>
                    <label class="bb8-toggle"
                        copied-from="https://uiverse.io/Galahhad/silent-robin-40"
                        credit-to="https://uiverse.io/profile/Galahhad">
                        <input class="bb8-toggle__checkbox" type="checkbox" id="bb8_toggler">
                        <div class="bb8-toggle__container">
                          <div class="bb8-toggle__scenery">
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="bb8-toggle__star"></div>
                            <div class="tatto-1"></div>
                            <div class="tatto-2"></div>
                            <div class="gomrassen"></div>
                            <div class="hermes"></div>
                            <div class="chenini"></div>
                            <div class="bb8-toggle__cloud"></div>
                            <div class="bb8-toggle__cloud"></div>
                            <div class="bb8-toggle__cloud"></div>
                          </div>
                          <div class="bb8">
                            <div class="bb8__head-container">
                              <div class="bb8__antenna"></div>
                              <div class="bb8__antenna"></div>
                              <div class="bb8__head"></div>
                            </div>
                            <div class="bb8__body"></div>
                          </div>
                          <div class="artificial__hidden">
                            <div class="bb8__shadow"></div>
                          </div>
                        </div>
                      </label>
                </div>
            </div>
        </nav>
        <main>
            <img id="hero_img"
                 src="/root/images/common/hero_light_preload.jpg"
                 draggable="false"
                 ondragstart="return false;"
                 loading="eager">
            <img id="hero_img_mobile"
                 src="/root/images/common/hero.jpg"
                 draggable="false"
                 ondragstart="return false;"
                 loading="eager">
            <div class="hero">
                <h1 class="hero_title">
                    Hi, I am <span class="mobile___break"><br></span><span id="hero_title"></span>
                </h1>
                <div id="hero_text">
                    <p>Timon</p>
                    <p>Developper</p>
                    <p>Designer</p>
                    <p>Student</p>
                </div>
                <p class="hero_subtitle">
                    I am a fullstack web-developper, I can provide clean code and pixel perfect design.
                    As time goes on, I learn new cool things to make user experience and interface more interactive and exciting.
                </p>
                <img class="hero>main"
                     id="hero_to_main_svg"
                     src="/root/images/svg/hero_to_main_light.svg"
                     draggable="false" 
                     ondragstart="return false;">
            </div>
            <div class="projects_title">
                <h2 class="projects_title_h2">My Projects</h2>
            </div>
            <div class="projects">
                <div class="project"></div>
                <div class="project">
                    <iframe class="projects_iframe" src="/original/preview" loading="lazy"></iframe>
                </div>
                <div class="project"></div>
                <div class="project"></div>
            </div>
            <img class="main>about"
                     id="main_to_about_svg"
                     src="/root/images/svg/main_to_about_light.svg"
                     draggable="false" 
                     ondragstart="return false;">
            <div class="about">
                <div class="about_title">
                    <h2 class="about_title_h2">About Me</h2>
                </div>
                <div class="about_image">
                    <img class="about_img" src="/root/images/common/me.jpg" alt="Timon Fiedler">
                </div>
                <div class="about_text">
                    <p class="about_text_p">
                        <span class="about_t_title">About Me:</span><br>
                        <span>I'm a 17-year-old student with a passion for web development and a love for volleyball. 
                        Born on December 22, 2006, I attend KZN school and stand at a height of 1.75m.</span>
                        <br><br>
                        <span class="about_t_title">Skills:</span><br>
                        <span>As a full stack web developer, I'm well-versed in HTML, CSS, and JavaScript for 
                        front-end development, while also proficient in back-end technologies. 
                        I can code in Node.js, enabling me to create dynamic and functional web applications.
                        </span><br><br>
                        <span class="about_t_title">Interest in Volleyball:</span><br>
                        <span>Off the screen, you'll often find me on the volleyball court. I have a strong enthusiasm 
                        for the sport, enjoying the teamwork and skill it requires. It's not just a hobby; 
                        it's a passion that fuels my competitive spirit and teaches me the value of collaboration 
                        and perseverance.</span>
                    </p>
                </div>
            </div>
            <img class="about>main"
                     id="about_to_main_svg"
                     src="/root/images/svg/about_to_main_light.svg"
                     draggable="false" 
                     ondragstart="return false;">
            <div class="contact">
                <div class="contact_title">
                    <h2 class="contact_title_h2">Contact Me</h2>
                </div>
                <form class="contact_form"
                        id="contact_form">
                    <div class="contact_f_user">
                        <input type="text" 
                                class="contact_f_i_name"
                                id="contact_user"
                                name="contact_user"
                                placeholder="Your full Name"
                                autocomplete="name"
                                required>
                        <input type="email"
                                class="contact_f_i_email"
                                id="contact_email"
                                name="contact_email"
                                placeholder="E-Mail"
                                autocomplete="email"
                                required>
                    </div>
                    <textarea class="contact_f_text"
                                id="contact_text"
                                name="contact_text"
                                placeholder="Write me something nice (ðŸ‘‰ï¾Ÿãƒ®ï¾Ÿ)ðŸ‘‰"
                                required
                    ></textarea>
                    <div class="contact_f_send">
                        <button class="contact_f_i_sub"
                                id="contact_submit"
                                name="contact_submit"
                        ><p id="contact_submit_p">Send</p>
                        </button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <img class="main>footer"
                 id="main_to_footer_svg"
                 src="/root/images/svg/main_to_footer_light.svg"
                 draggable="false"
                 ondragstart="return false;"
                 loading="lazy">
            <div class="footer">
                <div class="footer_container">
                    <h3>Imprint</h3>
                    <a href="https://unsplash.com/de/fotos/í‘¸ë¥¸-í•˜ëŠ˜-ì•„ëž˜-ì‚°ì˜-í’ê²½-ì‚¬ì§„-04-C1NZk1hE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                    >Hero Image: Lina Loos from unsplash.com</a>
                    <a href="https://unsplash.com">Other Hero Images: From unsplash.com</a>
                    <a href="https://app.haikei.app">Transition SVGs: haikei.app</a>
                    <a href="https://postmail.invotes.com">Send a E-Mail API: postmail.com</a>
                </div>
                <div class="footer_container">
                    <h3>Project Links</h3>
                    <a href="/projects/original">- My very first Website</a>
                    <a href="/project2">- Project 2</a>
                    <a href="/project3">- Project 3</a>
                    <a href="/project4">- Project 4</a>
                </div>
                <div class="footer_container">
                    <h3>Navigation</h3>
                    <a href="/" onclick="scrollToXY(0, 0, event);">Scroll to top</a>
                    <a href="/" onclick="scrollToQuery('.about_img', event);">Go to About</a>
                    <a href="/" onclick="scrollToQuery('#contact_form', event);">Contact Me</a>
                    <% if (isLoggedIn) { %>
                    <a href="/profile">Show Profile</a>
                    <a href="/" onclick="logout(event);">Log Out</a>
                    <% }; %>
                </div>
                <img class="footer_img" 
                     src="/root/images/svg/footer_forest.svg"
                     draggable="false"
                     ondragstart="return false;"
                     loading="lazy">
            </div>
        </footer>
    </body>
</html>