<% // Prerender // 
// User //

var preferences = 1;
var color_type = 1;

// Meta | Head //
const filename = "login.ejs";
const title = "Login";
const last_edited = "16.11.23 - 15:41";
const description = "Das ist die Loginpage der Timon.dev Seite.";
const icon = "/root/images/icons/icon.jpg";
const icon_type = "jpg";
const og_description = "Das ist die Loginpage der Timon.dev Seite.";
const og_url = "/login";

%><!DOCTYPE html>
<html lang="de-en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0BP9PGK6H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-E0BP9PGK6H');
        </script>
        <meta charset="utf-8">
        <title><%= title %> | Timon.dev</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="viewport" width="device-width" initial-scale="1.0">
        <meta name="Owner" content="Timon Fiedler">
        <meta name="Developper" content="Timon Fiedler">
        <meta name="Alias" content="timon.dev">
        <meta name="Last modified" content="<%= last_edited %>">
        <meta name="description" content="<%= description %>">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="robots" content="index,follow">
        <meta name="settings" content="false" id="settings_darkmode">
        <meta property="og:title" content="<%= title %> | Timon.dev">
        <meta property="og:url" content="https://www.timondev.vip/<%= og_url %>">
        <meta property="og:description" content="<%= og_description %>">
        <meta property="og:image" content="<%= icon %>">
        <meta property="og:image:type" content="image/<%= icon_type %>">      
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="image/x-icon" rel="icon" href="<%= icon %>">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/root.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/style.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/font.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/empty.css" id="stylesheet">
        <script type="text/javascript" src="/root/javascript files/global.functions.js"></script>
        <script type="text/javascript" src="/root/javascript files/global.variables.js"></script>
        <script type="text/javascript" src="/root/javascript files/style.files.login.js"></script>
    </head>
    <body>
        <main>
            <img id="bg"
                 src="/root/images/common/login_preload.jpg"
                 draggable="false" 
                 ondragstart="return false;">
            <img class="svg"
                 src="/root/images/svg/login_wave.svg"
                 draggable="false"
                 ondragstart="return false;">
            <form class="login"
                  method="POST"
                  action="/post/login">
                <h1 class="title">Login</h1>
                <label for="username" class="username_l">
                    Username or E-Mail
                </label>
                <input class="username"
                       id="username"
                       type="text"
                       name="username"
                       autocomplete="username"
                       required>
                <label for="password" class="password_l">
                    Password
                </label>
                <input class="password"
                       id="password"
                       name="password"
                       type="password"
                       autocomplete="current-password"
                       required>
                <button class="submit" type="submit">
                    Login
                </button>
                <a class="signup" href="/sign%20up">Or sign up</a>
            </form>
        </main>
        <footer>
            <script src="/root/javascript files/pictures.preloader.login.js"></script>
        </footer>
    </body>
</html>