<% // Prerender // 
// User //

var preferences = 1;
var color_type = 1;

// Meta | Head //
const filename = "signup.ejs";
const title = "Sign up";
const last_edited = "19.11.23 - 21:07";
const description = "Das ist die Signup-page der Timon.dev Seite.";
const icon = "/root/images/icons/icon.jpg";
const icon_type = "jpg";
const og_description = "Das ist die Signup-page der Timon.dev Seite.";
const og_url = "/sign%20up";

%><!DOCTYPE html>
<html lang="de-en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E0BP9PGK6H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-E0BP9PGK6H');
        </script>
        <meta charset="utf-8">
        <title><%= title %> | Timon.dev</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="viewport" width="device-width" initial-scale="1.0">
        <meta name="Owner" content="Timon Fiedler">
        <meta name="Developper" content="Timon Fiedler">
        <meta name="Alias" content="timon.dev">
        <meta name="Last modified" content="<%= last_edited %>">
        <meta name="description" content="<%= description %>">
        <meta name="google" content="nositelinkssearchbox">
        <meta name="robots" content="index,follow">
        <meta name="settings" content="false" id="settings_darkmode">
        <meta property="og:title" content="<%= title %> | Timon.dev">
        <meta property="og:url" content="https://www.timondev.vip/<%= og_url %>">
        <meta property="og:description" content="<%= og_description %>">
        <meta property="og:image" content="<%= icon %>">
        <meta property="og:image:type" content="image/<%= icon_type %>">      
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="image/x-icon" rel="icon" href="<%= icon %>">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/root.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/style.min.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/font.css">
        <link type="text/css" rel="stylesheet" href="/root/stylesheet files/empty.css" id="stylesheet">
        <script type="text/javascript" src="/root/javascript files/global.functions.js"></script>
        <script type="text/javascript" src="/root/javascript files/global.variables.js"></script>
        <script src="/root/javascript files/style.files.login.js"></script>
    </head>
    <body>
        <main>
            <img id="bg"
                 src="/root/images/common/login_preload.jpg"
                 draggable="false" 
                 ondragstart="return false;">
            <img class="svg"
                 src="/root/images/svg/login_wave.svg"
                 draggable="false"
                 ondragstart="return false;">
            <form class="login"
                  method="POST"
                  action="/post/createAccount">
                <h1 class="title">Sign Up</h1>
                <label for="username" class="username_l">
                    Username
                </label>
                <input class="username"
                       id="username"
                       type="text"
                       name="username"
                       autocomplete="username"
                       required>
                <label for="first_name" class="first_name_l">
                    First Name
                </label>
                <input class="first_name"
                       id="first_name"
                       type="text"
                       name="first_name"
                       autocomplete="given-name"
                       required>
                <label for="last_name" class="last_name_l">
                    Last Name
                </label>
                <input class="last_name"
                       id="last_name"
                       type="text"
                       name="last_name"
                       autocomplete="family-name"
                       required>
                <label for="email" class="email_l">
                    E-Mail
                </label>
                <input class="email"
                       id="email"
                       name="email"
                       type="email"
                       autocomplete="email"
                       required>
                <label for="phone" class="phone_l">
                    Phone Number
                </label>
                <input class="phone"
                       id="phone"
                       type="tel"
                       name="phone"
                       autocomplete="tel"
                       required>
                <label for="password" class="password_l">
                    Password
                </label>
                <input class="password"
                       id="password"
                       type="password"
                       name="password"
                       autocomplete="new-password"
                       required>
                <label for="file" class="file_l">
                    <svg class="svg-icon" width="24" viewBox="0 0 24 24" height="24" fill="none">
                        <g stroke-width="2" stroke-linecap="round" stroke="#056dfa" fill-rule="evenodd" clip-rule="evenodd">
                            <path d="m3 7h17c.5523 0 1 .44772 1 1v11c0 .5523-.4477 1-1 1h-16c-.55228 0-1-.4477-1-1z"></path>
                            <path d="m3 4.5c0-.27614.22386-.5.5-.5h6.29289c.13261 0 .25981.05268.35351.14645l2.8536 2.85355h-10z"></path>
                        </g>
                    </svg>
                    <span class="lable">Picture</span>
                </label>
                <input class="file"
                       id="file"
                       type="file"
                       name="file"
                       accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/psd, image/eps, image/ai, image/indd, image/raw">
                <input type="text" id="file_c" name="file_c" style="display: none;">
                <button class="submit" type="submit">
                    Sign Up
                </button>
                <a class="signup" href="/login">Or log in</a>
            </form>
        </main>
        <footer>
            <script>
                const img_input = document.getElementById("file");
                var uploaded_img;
                img_input.addEventListener("change", () => {
                    const reader = new FileReader();
                    reader.addEventListener("load", () => {
                        uploaded_img = reader.result;
                        document.getElementById("file_c").value = uploaded_img;
                        console.log("Finished uploading");
                        document.querySelector(".file_l").style.backgroundColor = "#62C370";
                        document.querySelector(".lable").innerHTML = "Success!"
                    });
                    try {
                        reader.readAsDataURL(document.getElementById("file").files[0]);
                    } catch {
                        document.querySelector(".file_l").style.backgroundColor = "#F21B3F";
                        document.querySelector(".lable").innerHTML = "Try again!";
                    };
                });
            </script>
            <script src="/root/javascript files/pictures.preloader.login.js"></script>
        </footer>
    </body>
</html>